<section class='welcome_section'>
  <div class='container'>
    <h1 class='display-4'>
      Boipara
    </h1>
    <div class='typewriter'>
      <h2>
        About
      </h2>
      <p>
        Boipara is a book inventory management system built entirely on Node, Express and a JSON based CobraDB.
      </p>
    </div>
  </div>
</section>