<footer class="footer py-3 bg-dark">
  <div class="container text-center">
    <div class="text-muted">
      Developed with
      <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i> by
      <a href="https://github.com/shivishbrahma">Purbayan Chowdhury</a>
    </div>
  </div>
</footer>