<div class="container">
    <div class="py-3">
        <h1>Show Book</h1>
        <div class="card text-left">
            <div class="card-body">
                <h3 class="card-title">{{book.title}}</h3>
                <h5><b>{{join book.authors ', '}}</b></h5>
                <h5 class="card-text">{{book.lang}}</h5>
            </div>
        </div>
    </div>
</div>