<section class="welcome_section">
    <div class="container">
        <h1 class="display-4">Welcome to Authify</h1>
        <div class="typewriter">
            <h3>Quick Links</h3>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="auth/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</section>