<header class="orange">
  <nav class="navbar navbar-expand-sm navbar-dark" style="margin-top: -0.5rem;">

    <div class="container">
      <a class="navbar-brand" href="#"><i class="mdi mdi-library mdi-36px"></i>Boipara</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Books</a>
            <div class="dropdown-menu warning-color" aria-labelledby="dropdownId">
              <a class="dropdown-item text-white" href="/book/search">Search</a>
              <a class="dropdown-item text-white" href="/book/add">Add</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>