<header class="">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

        <div class="container">
            <a class="navbar-brand" href="#">
              <img class="navbar-brand-logo" src="/images/icon.png" alt="brand-logo">
              Boipara
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNav"
                aria-controls="collapsibleNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="booksDropdown"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            Books
                        </a>
                        <div class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="booksDropdown">
                            <a class="dropdown-item" href="/book/search">Search</a>
                            <a class="dropdown-item" href="/book/add">Add</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>